/* ---------- GLOBAL RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5fafd;
  font-family: "Inter", Arial, sans-serif;
  color: #2c3e50;
}

/* ---------- LAYOUT ---------- */
.cy-section {
  padding: 80px 12%;
}

.cy-light {
  background: #f5fafd;
}

.cy-dark {
  background: #171a1f;
  color: #e7faff;
}

/* ---------- SECTION TITLE ---------- */
.cy-section-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #6fe7ff;
  text-shadow: 0px 0px 15px rgba(111, 231, 255, 0.4);
}

/* ---------- TEXT ---------- */
.cy-text {
  max-width: 700px;
  font-size: 1.2rem;
  opacity: 0.85;
}

.cy-text-light {
  max-width: 700px;
  font-size: 1.2rem;
  color: #c5f4ff;
}

/* ---------- NAVBAR ---------- */
.cy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #171a1f;
  padding: 20px 12%;
  box-shadow: 0px 2px 10px rgba(111, 231, 255, 0.3);
  border-bottom: 1px solid rgba(111, 231, 255, 0.2);
}

.cy-logo {
  color: #6fe7ff;
  font-size: 1.8rem;
  font-weight: 700;
}

.cy-nav a {
  margin-left: 30px;
  color: #e7faff;
  font-weight: 500;
  position: relative;
  transition: 0.2s;
}

.cy-nav a:hover {
  color: #6fe7ff;
  text-shadow: 0 0 10px rgba(111, 231, 255, 0.6);
}

/* ---------- FOOTER ---------- */
.cy-footer {
  background: #171a1f;
  padding: 25px 0;
  text-align: center;
  color: #6fe7ff;
  border-top: 1px solid rgba(111, 231, 255, 0.3);
}
